{% extends 'staff_gv_template/base_template.html' %}

{% block page_title %}
    Quản Lí Nhóm Thực Hành
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <a class="btn btn-primary" href="{% url 'add_nhom_TH' %}" role="button">+ Thêm Nhóm</a> <br/>&nbsp;

            {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Chi Tiết Các Nhóm</h3>

                            <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th> Thực Hành</th>
                                <th>Ngày Bắt Đầu Học</th>
                                <th>Ngày Kết Thúc Học</th>
                                <th>Tên Nhóm</th>
                                    <th>Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for th in nhomth %}
                                <tr>
                                <td> Mã TH: {{ th.MATH.MATH }} |   Số Tiết: {{ th.MATH.soTietTH }} </td>
                                <td>{{ th.startday_TH }}</td>
                                <td>{{ th.endday_TH }}</td>
                                    <td>{{ th.name_nhom }}</td>
                                <td>
                                    <a href="{% url 'edit_nhomTH_study' th.MATH.MATH %}" class="btn btn-success">Edit</a>
                                    <a href="{% url 'delete_nhomTH_study' th.id %}" class="btn btn-danger">Delete</a>
                                </td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}